
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.iphone-14-2-rxw {
  width: 100%;
  height: 84.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.iphone-14-2-rxw .iphone-14-1-B83 {
  width: 39rem;
  height: 84.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #d51919 9.42%, #ffffff 111.85%);
}
.iphone-14-2-rxw .iphone-14-1-B83 .auto-group-gvw5-5FM {
  margin-bottom: 50.6rem;
  width: 100%;
}
.iphone-14-2-rxw .iphone-14-1-B83 .auto-group-gvw5-5FM .banorte-2-Anb {
  width: 39rem;
  height: 4.7rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-2-rxw .iphone-14-1-B83 .auto-group-dcf1-FJF {
  width: 54.3rem;
  height: 45.3rem;
}
.iphone-14-2-rxw .hello-im-an-ai-that-will-help-you-with-your-investments-saX {
  width: 34.9rem;
  height: 21.7rem;
  position: absolute;
  left: 1.35rem;
  top: 16.4rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.2000000848;
  letter-spacing: -0.09rem;
  color: #e5e5e5;
  font-family: Newsreader, 'Source Sans Pro';
}
.iphone-14-2-rxw .rectangle-2-2kF {
  width: 35.4rem;
  height: 66.3rem;
  position: absolute;
  left: 1.8rem;
  top: 12.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e5e5e5;
  border-radius: 1.3rem;
}
.iphone-14-2-rxw .rectangle-3-dzw {
  width: 35.4rem;
  height: 42.8rem;
  position: absolute;
  left: 1.8rem;
  top: 36.4rem;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
  border-radius: 0 0 1.2rem 1.2rem;
}
.iphone-14-2-rxw .hello-im-your-financial-ai-coach-ill-help-you-get-the-best-out-of-your-money-lets-begin-pJj {
  width: 35.5rem;
  height: 18rem;
  position: absolute;
  left: 1.75rem;
  top: 16.4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  color: #000000;
  font-family: Newsreader, 'Source Sans Pro';
}
.iphone-14-2-rxw .rectangle-4-kbh {
  width: 26.3rem;
  height: 5.9rem;
  position: absolute;
  left: 6.3rem;
  top: 68.3rem;
  background-color: #cd1111;
  border-radius: 4.4rem;
}
.iphone-14-2-rxw .lajsd-1-prT {
  width: 29.1rem;
  height: 26.3rem;
  position: absolute;
  left: 4.9rem;
  top: 39.2rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-2-rxw .start-investing-uN7 {
  width: 17rem;
  height: 3.2rem;
  position: absolute;
  left: 11rem;
  top: 69.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
