<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Info6</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/info6.css"/>
</head>
<body>
<div class="info6-UyM">
  <div class="rectangle-16-Dg3">
  </div>
  <div class="rectangle-15-ish">
  </div>
  <p class="perfil-para-inversionistas-que-buscan-rendimiento-superior-a-la-deuda-gubernamienta-presenta-un-riesgo-moderado-si-eres-una-persona-conservadora-este-es-para-t-ya-que-a-su-vez-te-permite-preservar-tu-patrimonio-dzf">Perfil para inversionistas, que buscan rendimiento superior a la deuda gubernamienta. Presenta un riesgo moderado. Si eres una persona conservadora, este es para tí, ya que a su vez te permite preservar tu patrimonio</p>
  <div class="rectangle-14-R9q">
  </div>
  <p class="inversin-mnima-50-YET">
  Inversión mínima:
  <br/>
  $50
  </p>
  <p class="fondo-estrategia-nted-mediano-plazo-3-aos-Ed5">
  Fondo Estrategia (NTED)
  <br/>
  Mediano Plazo
  <br/>
  (3+ años)
  </p>
  <img class="descarga-2-8TZ" src="./assets/descarga-1.png"/>
  <img class="banorte-5-ruM" src="./assets/banorte-2-Evb.png"/>
  <img class="image-3-bc3" src="./assets/image-3.png"/>
</div>
</body>