<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Info4</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/info4.css"/>
</head>
<body>
<div class="info4-MuR">
  <img class="banorte-4-iEB" src="./assets/banorte-2-Evb.png"/>
  <div class="auto-group-hyet-r5V">
    <div class="auto-group-cdmh-yvo">
      <p class="fondo-banorte-dlares-ntedls-corto-plazo-1-aos-rjh">
      Fondo Banorte Dólares (NTEDLS)
      <br/>
      Corto Plazo
      <br/>
      (1+ años)
      </p>
      <img class="descarga-2-vDm" src="./assets/descarga-1.png"/>
      <p class="inversin-mnima-50-ddy">
      Inversión mínima:
      <br/>
      $50
      </p>
    </div>
    <div class="auto-group-mkpd-XDZ">
      <p class="este-perfil-presenta-un-riesgo-bajo-dirigido-a-inversionistas-que-buscan-estabilidad-y-un-mejor-resguardo-del-valor-del-peso-respecto-al-dlar-otro-punto-a-favor-es-que-presenta-una-liquidez-del-100-eZ5">Este perfil presenta un riesgo bajo, Dirigido a inversionistas que buscan estabilidad y un mejor resguardo del valor del peso respecto al dólar. Otro punto a favor es que presenta una liquidez del 100%.</p>
    </div>
  </div>
</div>
</body>