<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Info5</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/info5.css"/>
</head>
<body>
<div class="info5-FiX">
  <img class="banorte-4-C7y" src="./assets/banorte-2-Evb.png"/>
  <div class="auto-group-rkws-Xg3">
    <div class="auto-group-sjrf-eVm">
      <div class="auto-group-jupf-jXD">
        <img class="descarga-2-55H" src="./assets/descarga-1.png"/>
        <p class="fondo-banorte-dlares-ntedls-largo-plazo-2-aos-Cfh">
        Fondo Banorte Dólares+ (NTEDLS+)
        <br/>
        Largo Plazo
        <br/>
        (2+ años)
        </p>
      </div>
      <p class="inversin-mnima-50-HBM">
      Inversión mínima:
      <br/>
      $50
      </p>
    </div>
    <div class="auto-group-e1pb-Yd5">
      <p class="este-fondo-presenta-un-riesgo-moderado-ideal-para-el-perfil-conservador-que-busca-hacer-crecer-su-capital-de-manera-estable-con-cierto-riesgo-y-volatilidad-acotada-este-tipo-de-inversin-es-para-aquellos-que-buscan-una-inversin-internacional-s9Z">Este fondo presenta un riesgo moderado, Ideal para el perfil Conservador que busca hacer crecer su capital de manera estable, con cierto riesgo y volatilidad acotada, este tipo de inversión es para aquellos que buscan una inversión internacional</p>
    </div>
  </div>
  <img class="captura-de-pantalla-2023-09-23-a-las-2237-1-GhV" src="./assets/captura-de-pantalla-2023-09-23-a-las-2237-1.png"/>
</div>
</body>