<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>info2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/info2.css"/>
</head>
<body>
<div class="info2-StP">
  <img class="banorte-3-zf1" src="./assets/banorte-2-Evb.png"/>
  <div class="auto-group-rq9h-Xuq">
    <div class="auto-group-v1gt-fFM">
      <div class="auto-group-u9nf-LcP">
        <p class="fondo-banorte-digital-ntedig-corto-plazo-0-1-aos-4YP">
        Fondo Banorte Digital (NTEDIG)
        <br/>
        Corto Plazo
        <br/>
        (0-1 años)
        </p>
        <img class="descarga-2-wMH" src="./assets/descarga-1.png"/>
      </div>
      <p class="inversin-mnima-50-4Ru">
      Inversión mínima:
      <br/>
      $50
      </p>
    </div>
    <div class="auto-group-utet-iFZ">
      <p class="para-t-que-te-gusta-la-tecnologa-este-perfil-te-ayuda-a-crecer-tus-ahorros-de-manera-digital-presenta-un-riesgo-bajo-y-solo-comisin-del-1-pudes-acceder-a-tu-fondo-de-inversin-en-el-mismo-da-DCK">Para tí que te gusta la tecnología, este perfil te ayuda a crecer tus ahorros de manera digital. Presenta un riesgo bajo y solo comisión del 1%. Pudes acceder a tu fondo de inversión en el mismo día.</p>
    </div>
  </div>
</div>
</body>