<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Info3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/info3.css"/>
</head>
<body>
<div class="info3-C87">
  <img class="banorte-3-81m" src="./assets/banorte-2-Evb.png"/>
  <div class="auto-group-pbrh-4g7">
    <div class="auto-group-zxwd-z3y">
      <p class="fondo-banorte-plazontepzo-corto-plazo-0-1-aos-ffu">
      Fondo Banorte Plazo(NTEPZO)
      <br/>
      Corto Plazo
      <br/>
      (0-1 años)
      </p>
      <img class="descarga-2-L1M" src="./assets/descarga-1.png"/>
      <p class="inversin-mnima-50000-F8K">
      Inversión mínima:
      <br/>
      $50,000
      </p>
    </div>
    <div class="auto-group-brdd-i1u">
      <p class="este-tipo-de-inversin-cuenta-con-un-riesgo-extremadamente-bajo-compuesto-por-valores-gubernamentales-bancarios-y-o-corporativos-con-la-mejor-calidad-crediticia-aaa-y-un-rendimiento-objetivo-del-100-cetes-a-91-das-RBD">Este tipo de inversión cuenta con un riesgo extremadamente bajo compuesto por valores gubernamentales, bancarios y/o corporativos con la mejor calidad crediticia (AAA) y un rendimiento objetivo del 100% CETES a 91 días.</p>
    </div>
  </div>
  <img class="captura-de-pantalla-2023-09-23-a-las-2232-1-qEw" src="./assets/captura-de-pantalla-2023-09-23-a-las-2232-1.png"/>
</div>
</body>