<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Info</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="./styles/info.css"/>
</head>
<body>
<div class="info-jbM">
  <img class="banorte-2-Eo1" src="./images/banorte-2-Evb.png"/>
  <div class="rectangle-11-NPR">
  </div>
  <div class="rectangle-12-5Hq">
  </div>
  <p class="fondo-banorte-cetentect-corto-plazo-0-1-aos-bX5">
  Fondo Banorte Cete(NTECT)
  <br/>
  Corto Plazo
  <br/>
  (0-1 años)
  </p>
  <img class="descarga-1-TpB" src="./images/descarga-1.png"/>
  <p class="inversin-mnima-50-bQb">
  Inversión mínima:
  <br/>
  $50
  </p>
  <div class="rectangle-13-HoD">
  </div>
  <p class="la-inversin-cuenta-con-un-riesgo-extremadamente-bajo-con-el-cual-puedes-acceder-a-sus-ventajas-el-mismo-da-este-fondo-es-adecuado-para-inversionistas-que-buscan-crecer-sus-ahorros-como-los-que-cuentan-con-un-perfil-de-preservacin-de-capital-oWf">
  La inversión cuenta con un riesgo extremadamente bajo, con el cual puedes acceder a sus ventajas el mismo día.
  <br/>
  Este fondo es adecuado para inversionistas que buscan crecer sus ahorros, como los que cuentan con un Perfil de Preservación de Capital
  </p>
  <img class="captura-de-pantalla-2023-09-23-a-las-2129-1-bhR" src="./images/captura-de-pantalla-2023-09-23-a-las-2129-1.png"/>
</div>
</body>