
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.info6-UyM {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 84.4rem;
  position: relative;

  .rectangle-16-Dg3 {
    top: 4.6rem;
    background: linear-gradient(180deg, #cd1111 -0%, #d1baba 80.64%);
    width: 39rem;
    height: 79.8rem;
    position: absolute;
    left: 0;
  }
  .rectangle-15-ish {
    left: 14.6rem;
    top: 23.5rem;
    background-color: #d9d9d9;
    border-radius: 5rem;
    width: 34.7rem;
    height: 27.8rem;
    position: absolute;
  }
  .perfil-para-inversionistas-que-buscan-rendimiento-superior-a-la-deuda-gubernamienta-presenta-un-riesgo-moderado-si-eres-una-persona-conservadora-este-es-para-t-ya-que-a-su-vez-te-permite-preservar-tu-patrimonio-dzf {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 21.9rem;
    left: 16.3rem;
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.2125;
    height: 20.7rem;
    position: absolute;
    top: 27.1rem;
    font-weight: 400;
  }
  .rectangle-14-R9q {
    position: absolute;
    left: 0;
    top: 8.5rem;
    background-color: #ffffff;
    border-radius: 74.3rem;
    width: 41rem;
    height: 12rem;
  }
  .inversin-mnima-50-YET {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    color: #000000;
    width: 7.8rem;
    height: 6.2rem;
    position: absolute;
    left: 22.45rem;
    top: 11.2rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .fondo-estrategia-nted-mediano-plazo-3-aos-Ed5 {
    width: 14.7rem;
    height: 8.3rem;
    font-size: 1.7rem;
    font-weight: 400;
    color: #000000;
    position: absolute;
    left: 0;
    top: 10.1rem;
    text-align: center;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .descarga-2-8TZ {
    height: 8.2rem;
    position: absolute;
    left: 14.5rem;
    top: 10.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 7.4rem;
  }
  .banorte-5-ruM {
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 39rem;
    height: 4.7rem;
    position: absolute;
  }
  .image-3-bc3 {
    width: 39rem;
    height: 19.4rem;
    position: absolute;
    left: 0;
    top: 60.6rem;
    object-fit: cover;
    vertical-align: top;
  }
}
