
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.info7-3GK {
  width: 100%;
  height: 84.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.info7-3GK .rectangle-16-NpP {
  width: 100%;
  height: 84.4rem;
  background: linear-gradient(180deg, #cd1111 -0%, #d1baba 80.64%);
}
