
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.iphone-14-3-Nxo {
  width: 100%;
  height: 84.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.iphone-14-3-Nxo .rectangle-16-79h {
  width: 39rem;
  height: 79.8rem;
  position: absolute;
  left: 0;
  top: 4.6rem;
  background: linear-gradient(180deg, #cd1111 -0%, #d1baba 80.64%);
}
.iphone-14-3-Nxo .rectangle-15-ccF {
  width: 34.7rem;
  height: 27.8rem;
  position: absolute;
  left: 14.6rem;
  top: 23.5rem;
  background-color: #d9d9d9;
  border-radius: 5rem;
}
.iphone-14-3-Nxo .rectangle-14-wPd {
  width: 41rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 8.5rem;
  background-color: #ffffff;
  border-radius: 74.3rem;
}
.iphone-14-3-Nxo .inversin-mnima-50-5Ew {
  width: 7.8rem;
  height: 6.2rem;
  position: absolute;
  left: 22.45rem;
  top: 11.2rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.iphone-14-3-Nxo .fondo-estrategia-nted-mediano-plazo-3-aos-A1V {
  width: 14.7rem;
  height: 8.3rem;
  position: absolute;
  left: 0;
  top: 10.1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.iphone-14-3-Nxo .descarga-2-SDu {
  width: 7.4rem;
  height: 8.2rem;
  position: absolute;
  left: 14.5rem;
  top: 10.4rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-3-Nxo .banorte-5-9u1 {
  width: 39rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
